img 
{display: block;
	width: 200px;
	height: 200px;
 margin-left: auto;
  margin-right: auto;

	border: 1px solid #ccc;
	  border-radius: 50%;
}
header
{
	background-image: url(../img/background.jpg);
	background-size: cover;
	margin:0px;

}
h1
{
	color: white;
	text-align: center;
	background-color: black;
	font-family: 'Anton', sans-serif;

}

body
{
	margin:0px;
}

input
{
	  padding: 12px 20px;
  margin: 8px 0;
  border: none;
   border: 3px solid black;
  border-radius: 4px;
}
h2 , h3
{
	font-family: 'Anton', sans-serif;
	color: white;

}
.etat
{
	color:red;
}
.identification
{
	background-color:#181a1b;
	padding: 1em;

}

input:hover
{
	  border: 3px solid red;
	    border-radius: 4px;

}

body
{
	background-color: #181a1b;
}
footer
{
	text-align: center;
	font-family: 'Anton', sans-serif;
	color: white;
}
p
{
	color: white;
	font-family: 'Anton', sans-serif;

	
	
}

.info
{
	border-left: 9px solid white;
	margin-left: 2em;
	border-radius: 9px;
	padding: 1em;
}
.resInfo
{
	font-weight: bold;
	color:#205A8C;
}
a
{
	text-decoration: none;
	color: white;
}
.agenda
{
/*	margin: 10%;*/
	width:60%;
	height: 30em;
	padding-left: 5%;
	padding-right: 3%;
	margin: 0;
}
.section
{
	display: flex;
}